.layout-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-gray-soft);
}

.layout-content {
  flex: 1;
  padding: var(--spacing-md);
  max-width: var(--breakpoint-xl);
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 992px) {
  .layout-container {
    padding-bottom: 0;
  }
  
  .layout-content {
    padding: var(--spacing-xl);
  }
}
